@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,700);
#menu-0 .navbar-toggler {
  color: #000;
}
#menu-0 .navbar-brand {
  font-size: 25px;
}
#menu-0 .nav-link {
  font-size: 20px;
}
#header1-1 {
  
}
#header1-1 H1 {
  font-family: 'Open Sans', sans-serif;
  color: #ffffff;
  font-size: 50px;
}
#footer1-4 P {
  text-align: center;
  font-size: 18px;
}
#menu-5 .navbar-toggler {
  color: #000;
}
#menu-5 .navbar-brand {
  font-size: 25px;
}
#menu-5 .nav-link {
  font-size: 20px;
}
#header3-b H3 {
  text-align: center;
}
#footer1-6 P {
  text-align: center;
  font-size: 18px;
}

#menu-d .navbar-toggler {
  color: #000;
}
#menu-d .navbar-brand {
  font-size: 25px;
}
#menu-d .nav-link {
  font-size: 20px;
}
#footer1-e P {
  text-align: center;
  font-size: 18px;
}
#form1-f .mbr-section-title {
  font-family: 'Open Sans', sans-serif;
}
